/* General Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
/* html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
} */
/* Custom scroll bar */
html::-webkit-scrollbar-thumb{
    background: white;
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: black;
    border-radius: 5rem;
}

body{
    background:rgba(172, 93, 19, 0.6) ;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.navbar{
    background-color:rgba(172, 93, 19, 1); 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}
.logo span{
    font-weight: 800;
    font-size: 32px;
    color: white;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}
#navLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
#navLinks li{
    list-style: none;
}
#navLinks li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
#navLinks li a:hover{
    color: darkblue;
}
.hero-section{
    background:linear-gradient(rgba(22, 22, 181, 0.4)), url(Images/lojinha.jpg);
    min-height: 80vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section .hero-text{
    text-align: center;
    transform: translateY(15%);
    width: 70%;
    /* padding: 50px 50px; */
    color: aliceblue;
    margin: 0 auto;
}
.hero-section .hero-text h2{
    font-size: 60px;
    font-weight: 900;
}
.hero-section .hero-text p{
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero-section .hero-text button{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}
.hero-section .hero-text button:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
}

/* PRODUCT SECTION */
.product-section{
    padding: 0 100px;
    min-height: 100vh;
    margin: 0 auto 0 auto;
}
.product-section h2{
    text-align: center;
    font-size: 40px;
}
.product-section h3{
    text-align: center;
    font-size: 30px;
    background: orange;
    margin: 30px auto;
    width: 100%;
    padding: 10px;
}
.men , .ladies, .children{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.men div, .ladies div, .children div{
    border: 2px solid grey;
   width: 200px;
   border-radius: 10px;
   background-color: white;
}
.men img, .ladies img, .children img{
    min-width: 100%;
    height: 200px;
    border-bottom: 1px solid grey;
    border-radius: 10px 10px 0 0;
}
.product-section div h4{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
.product-section div p{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}
.product-section div button{
   margin: 10px auto 20px;
   display: block;
   text-align: center;
   padding: 10px 20px;
   border-radius: 30px;
   border: none;
   background-color: gray;
}
.product-section div button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* CONTACT PAGE */
.contact-section h2{
    text-align: center;
    font-size: 40px;
}
.contact-section{
    padding: 0 100px;
    min-height: 80vh;
    margin: 50px auto 0 auto;
}
.contact-section form{
    border: 5px double rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 30px 20px;
    width: 50%;
}
.contact-section form label,.contact-section form input{
    margin: 20px 5px;
}
.contact-section form label{
    font-size: 25px;
}
.contact-section form input, textarea, form button{
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
}
.contact-section form button{
    display: block;
    margin: 30px auto 0 auto;
    padding: 5px 50px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.contact-section form button:hover{
    background-color: white;
    color: black;
}
.contact-section form textarea{
    resize: none;
    padding: 10px 20px;
}
/* ABOUT US SECTION */
.about-section{
    padding: 0 100px;
    min-height: 50vh;
    margin: 50px auto 0 auto;
}
.about-section h2{
    text-align: center;
    font-size: 40px;
}
.about-section h2{
    text-align: center;
    font-size: 40px;
}
.about-us{
    border: 5px double black;
    border-radius: 20px;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 30px 20px;
    width: 70%;
}
.about-us h3{
    font-size: 25px;
}

/* CART PAGE */
.cart-section{
    padding: 0 100px;
    min-height: 80vh;
    margin: 0 auto 0 auto;
}
.cart-section h2{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 20px;
}

.cart-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 3px solid black;
}

.cart-section th,
.cart-section td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.cart-section th {
    background-color: blue;
    color: whitesmoke;
}

 .cart-section tr:hover {
    background-color: #f1f1f1;
}

.cart-section button {
    margin-top: 15px;
    padding: 12px 20px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* FOOTER */
.footer{
    width: 100%;
    background-color: rgba(172, 93, 19, 1);
    padding: 20px 50px; 
}
.footer-section{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.footer-box h2{
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 10px;
}
.footer-box p {
    font-size: 0.938rem;
    margin-bottom: 10px;
}
/* Styling for social media icons */
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.footer-image{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.footer span{
    font-weight: 700;
    font-size: 25px;
    color: black;
}
.social a .icon{
    font-size: 24px;
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: black;
}
.social a .icon:hover{
    background:white ;
    color: black;
}
.footer-box h3{
    font-weight: 600;
    margin-bottom: 10px;
}
/* Styling for list items like branches and support */
.footer-box li a{
    color: black;
}
.footer-box li a:hover{
    color: white ;
}
/* Styling for Payment methods icons */
.payment{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
}
.payment img{
    width: 20px;
}
.payment i{
    width:50px;
    height:50px;
    font-size: 30px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    cursor: pointer;
    color: white;
}
.payment i:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
/* Styling copyright text */
.copyright{
    text-align: center;
    padding: 20px;
    color:black;
}
/* The Image in the footer for payments eg MTN & Airteland also logo in footer */
.footer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footer p{
    text-align: center;
    margin: 20px auto 10px;
    font-size: 20px;
}